In [167]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
from shapely.wkt import loads
from warnings import filterwarnings

filterwarnings('ignore')

In [16]:
fire_data = pd.read_csv('Data/Fire_data_1990to2022.csv',index_col=0)

/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/2736463276.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  fire_data = pd.read_csv('Data/Fire_data_1990to2022.csv',index_col=0)

In [15]:
fire_data.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,...,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry,COMMENT
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,...,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,2005_r9_20210810,Possibly some burn over insect,"POLYGON ((-1004225 1289982.375, -1004217.6875 ...",NaN
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,...,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,2005_r9_20210810,"Slight clip at north edge, no hotspots there","MULTIPOLYGON (((1516482.25 854136.5625, 151645...",NaN
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,...,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,2005_r9_20210810,Minor burn-over-burn,"MULTIPOLYGON (((-15567.156199999154 802909, -1...",NaN
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,...,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,2005_r9_20210810,Null,"MULTIPOLYGON (((1608753.125 580239.875, 160876...",NaN
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,...,NaN,1773.213431,1773.213431,0.0,YT,479.0,2005_r9_20210810,"2005MA011[comments:,subdistric:MA,fire_numbe:1...",POLYGON ((-1696660.5425999984 2354008.59380000...,NaN

In [17]:
fire_data.drop(columns='Unnamed: 0',inplace=True)

In [18]:
fire_data.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,...,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry,COMMENT
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,...,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,2005_r9_20210810,Possibly some burn over insect,"POLYGON ((-1004225 1289982.375, -1004217.6875 ...",NaN
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,...,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,2005_r9_20210810,"Slight clip at north edge, no hotspots there","MULTIPOLYGON (((1516482.25 854136.5625, 151645...",NaN
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,...,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,2005_r9_20210810,Minor burn-over-burn,"MULTIPOLYGON (((-15567.156199999154 802909, -1...",NaN
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,...,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,2005_r9_20210810,Null,"MULTIPOLYGON (((1608753.125 580239.875, 160876...",NaN
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,...,NaN,1773.213431,1773.213431,0.0,YT,479.0,2005_r9_20210810,"2005MA011[comments:,subdistric:MA,fire_numbe:1...",POLYGON ((-1696660.5425999984 2354008.59380000...,NaN

In [88]:
fire_shp=gpd.GeoDataFrame(fire_data,geometry=loads(fire_data['geometry']),crs='epsg:4326')

In [22]:
fire_shp.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,...,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry,COMMENT
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,...,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,2005_r9_20210810,Possibly some burn over insect,"POLYGON ((-1004225.00000 1289982.37500, -10042...",NaN
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,...,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,2005_r9_20210810,"Slight clip at north edge, no hotspots there","MULTIPOLYGON (((1516482.25000 854136.56250, 15...",NaN
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,...,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,2005_r9_20210810,Minor burn-over-burn,"MULTIPOLYGON (((-15567.15620 802909.00000, -15...",NaN
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,...,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,2005_r9_20210810,Null,"MULTIPOLYGON (((1608753.12500 580239.87500, 16...",NaN
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,...,NaN,1773.213431,1773.213431,0.0,YT,479.0,2005_r9_20210810,"2005MA011[comments:,subdistric:MA,fire_numbe:1...","POLYGON ((-1696660.54260 2354008.59380, -16966...",NaN

In [24]:
weather_df = pd.read_csv('Data/weather_download.csv')

In [27]:
weather_df.head()

,Unnamed: 0,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,0,-65.32,49.23,CAP MADELEINE,7051160,1990-12-01,1990,12,1,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,1,-65.32,49.23,CAP MADELEINE,7051160,1990-12-02,1990,12,2,NaN,...,0.0,T,0.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2,-65.32,49.23,CAP MADELEINE,7051160,1990-12-03,1990,12,3,NaN,...,0.0,T,0.0,T,0.0,NaN,NaN,NaN,NaN,NaN
3,3,-65.32,49.23,CAP MADELEINE,7051160,1990-12-04,1990,12,4,NaN,...,14.2,NaN,16.0,NaN,0.0,T,NaN,NaN,NaN,NaN
4,4,-65.32,49.23,CAP MADELEINE,7051160,1990-12-05,1990,12,5,NaN,...,0.0,NaN,0.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN

In [30]:
weather_shp= gpd.GeoDataFrame(weather_df,geometry=gpd.points_from_xy(weather_df['Longitude (x)'],weather_df['Latitude (y)']),crs='epsg:4326')

In [31]:
weather_shp.head()

,Unnamed: 0,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,...,Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag,geometry
0,0,-65.32,49.23,CAP MADELEINE,7051160,1990-12-01,1990,12,1,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,POINT (-65.32000 49.23000)
1,1,-65.32,49.23,CAP MADELEINE,7051160,1990-12-02,1990,12,2,NaN,...,T,0.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN,POINT (-65.32000 49.23000)
2,2,-65.32,49.23,CAP MADELEINE,7051160,1990-12-03,1990,12,3,NaN,...,T,0.0,T,0.0,NaN,NaN,NaN,NaN,NaN,POINT (-65.32000 49.23000)
3,3,-65.32,49.23,CAP MADELEINE,7051160,1990-12-04,1990,12,4,NaN,...,NaN,16.0,NaN,0.0,T,NaN,NaN,NaN,NaN,POINT (-65.32000 49.23000)
4,4,-65.32,49.23,CAP MADELEINE,7051160,1990-12-05,1990,12,5,NaN,...,NaN,0.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,POINT (-65.32000 49.23000)

In [46]:
weather_geo= weather_shp['geometry']
fire_geo= fire_shp['geometry']

/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/4283489991.py:1: UserWarning: The indices of the two GeoSeries are different.
  weather_geo['distance']=weather_geo.distance(fire_geo)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/4283489991.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  weather_geo['distance']=weather_geo.distance(fire_geo)

In [47]:
distance_df=gpd.GeoDataFrame(weather_geo)

In [50]:
distance_df.rename(columns={'geometry':'station location'})

                    station location
0         POINT (-65.32000 49.23000)
1         POINT (-65.32000 49.23000)
2         POINT (-65.32000 49.23000)
3         POINT (-65.32000 49.23000)
4         POINT (-65.32000 49.23000)
...                              ...
1165583  POINT (-133.06000 54.26000)
1165584  POINT (-133.06000 54.26000)
1165585  POINT (-133.06000 54.26000)
1165586  POINT (-133.06000 54.26000)
1165587  POINT (-133.06000 54.26000)

[1165588 rows x 1 columns]

In [51]:
distance_df['fires']= fire_geo

In [52]:
distance_df

,geometry,fires
0,POINT (-65.32000 49.23000),"POLYGON ((-1004225.00000 1289982.37500, -10042..."
1,POINT (-65.32000 49.23000),"MULTIPOLYGON (((1516482.25000 854136.56250, 15..."
2,POINT (-65.32000 49.23000),"MULTIPOLYGON (((-15567.15620 802909.00000, -15..."
3,POINT (-65.32000 49.23000),"MULTIPOLYGON (((1608753.12500 580239.87500, 16..."
4,POINT (-65.32000 49.23000),"POLYGON ((-1696660.54260 2354008.59380, -16966..."
...,...,...
1165583,POINT (-133.06000 54.26000),None
1165584,POINT (-133.06000 54.26000),None
1165585,POINT (-133.06000 54.26000),None
1165586,POINT (-133.06000 54.26000),None
1165587,POINT (-133.06000 54.26000),None

In [54]:
distance_df

,geometry,fires,distance
0,POINT (-65.32000 49.23000),"POLYGON ((-1004225.00000 1289982.37500, -10042...",1.629283e+06
1,POINT (-65.32000 49.23000),"MULTIPOLYGON (((1516482.25000 854136.56250, 15...",1.723817e+06
2,POINT (-65.32000 49.23000),"MULTIPOLYGON (((-15567.15620 802909.00000, -15...",7.977333e+05
3,POINT (-65.32000 49.23000),"MULTIPOLYGON (((1608753.12500 580239.87500, 16...",1.702573e+06
4,POINT (-65.32000 49.23000),"POLYGON ((-1696660.54260 2354008.59380, -16966...",2.899296e+06
...,...,...,...
1165583,POINT (-133.06000 54.26000),None,NaN
1165584,POINT (-133.06000 54.26000),None,NaN
1165585,POINT (-133.06000 54.26000),None,NaN
1165586,POINT (-133.06000 54.26000),None,NaN
1165587,POINT (-133.06000 54.26000),None,NaN

In [55]:
distance_df.sample(10)

,geometry,fires,distance
327876,POINT (-64.83000 47.80000),None,NaN
715618,POINT (-128.48000 53.83000),None,NaN
510402,POINT (-110.28000 54.42000),None,NaN
460095,POINT (-89.68000 48.35000),None,NaN
17130,POINT (-101.88000 54.77000),"MULTIPOLYGON (((-85639.03670 729628.92310, -85...",7.342220e+05
1092387,POINT (-56.87000 48.82000),None,NaN
899701,POINT (-100.03000 54.88000),None,NaN
26797,POINT (-94.65000 53.85000),"POLYGON ((-630127.37500 1415346.75000, -630099...",1.547607e+06
34383,POINT (-108.38000 49.20000),"MULTIPOLYGON (((24372.17188 249667.82812, 2441...",2.436843e+05
1037524,POINT (-121.51000 53.07000),None,NaN

Create for loop to go through every station then measure the distance from every station to every polygon of fire data.

Let's take the list of stations that have data from 1990 to 2022 consecutively, and are within the latitude 45 and 66

In [57]:
station_df=pd.read_csv('Test_list2.csv')

In [58]:
station_df.head()

,Unnamed: 0,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,3,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0
1,19,ABEE AGDM,ALBERTA,54.28,-112.97,664.0,3010010,71285.0,XAF,1990,2024,1990.0,2024.0,2002.0,2024.0,2002.0,2007.0
2,47,ADDENBROKE ISLAND,BRITISH COLUMBIA,51.60,-127.86,21.3,1060080,NaN,WCZ,1978,2024,1994.0,2001.0,1978.0,2024.0,1978.0,2007.0
3,50,AGASSIZ CDA,BRITISH COLUMBIA,49.24,-121.76,15.0,1100120,NaN,NaN,1889,2023,NaN,NaN,1889.0,2023.0,1889.0,2007.0
4,52,AGASSIZ RCS,BRITISH COLUMBIA,49.24,-121.76,19.3,1100119,71113.0,WZA,1988,2024,1994.0,2024.0,1988.0,2024.0,1988.0,2006.0

In [59]:
station_df.shape

(390, 17)

In [61]:
station_shp=gpd.GeoDataFrame(station_df,geometry=gpd.points_from_xy(station_df['Longitude'],station_df['Latitude']),crs='epsg:4326')

In [62]:
station_shp.head()

,Unnamed: 0,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,geometry
0,3,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (-121.22000 51.68000)
1,19,ABEE AGDM,ALBERTA,54.28,-112.97,664.0,3010010,71285.0,XAF,1990,2024,1990.0,2024.0,2002.0,2024.0,2002.0,2007.0,POINT (-112.97000 54.28000)
2,47,ADDENBROKE ISLAND,BRITISH COLUMBIA,51.60,-127.86,21.3,1060080,NaN,WCZ,1978,2024,1994.0,2001.0,1978.0,2024.0,1978.0,2007.0,POINT (-127.86000 51.60000)
3,50,AGASSIZ CDA,BRITISH COLUMBIA,49.24,-121.76,15.0,1100120,NaN,NaN,1889,2023,NaN,NaN,1889.0,2023.0,1889.0,2007.0,POINT (-121.76000 49.24000)
4,52,AGASSIZ RCS,BRITISH COLUMBIA,49.24,-121.76,19.3,1100119,71113.0,WZA,1988,2024,1994.0,2024.0,1988.0,2024.0,1988.0,2006.0,POINT (-121.76000 49.24000)

In [63]:
station_shp.drop(columns=['Unnamed: 0'],inplace=True)

Now I have:
station_shp
fire_geo


I need to combine them via distance and date. Let's start with distance to see if we can create a distance df with all the info:

In [64]:
fire_shp.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,...,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry,COMMENT
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,...,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,2005_r9_20210810,Possibly some burn over insect,"POLYGON ((-1004225.00000 1289982.37500, -10042...",NaN
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,...,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,2005_r9_20210810,"Slight clip at north edge, no hotspots there","MULTIPOLYGON (((1516482.25000 854136.56250, 15...",NaN
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,...,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,2005_r9_20210810,Minor burn-over-burn,"MULTIPOLYGON (((-15567.15620 802909.00000, -15...",NaN
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,...,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,2005_r9_20210810,Null,"MULTIPOLYGON (((1608753.12500 580239.87500, 16...",NaN
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,...,NaN,1773.213431,1773.213431,0.0,YT,479.0,2005_r9_20210810,"2005MA011[comments:,subdistric:MA,fire_numbe:1...","POLYGON ((-1696660.54260 2354008.59380, -16966...",NaN

In [101]:
#converted geoframes
station_shp_m= station_shp.to_crs(epsg=3857)
fire_shp_m = fire_shp.to_crs(epsg=3857)

In [121]:
fire_shp['geometry'].set_crs('EPSG:4326', inplace=True)

0        POLYGON ((-1004225.00000 1289982.37500, -10042...
1        MULTIPOLYGON (((1516482.25000 854136.56250, 15...
2        MULTIPOLYGON (((-15567.15620 802909.00000, -15...
3        MULTIPOLYGON (((1608753.12500 580239.87500, 16...
4        POLYGON ((-1696660.54260 2354008.59380, -16966...
                               ...
35660    POLYGON ((-1149901.25300 1273059.40790, -11498...
35661    MULTIPOLYGON (((-1219747.91950 1308634.21410, ...
35662    MULTIPOLYGON (((-1206445.65940 1333301.96350, ...
35663    MULTIPOLYGON (((-1184587.26950 1349259.69820, ...
35664    MULTIPOLYGON (((-276173.73900 1174485.51310, -...
Name: geometry, Length: 35665, dtype: geometry

In [122]:
station_shp['geometry'].set_crs('EPSG:4326', inplace=True)

0      POINT (-121.22000 51.68000)
1      POINT (-112.97000 54.28000)
2      POINT (-127.86000 51.60000)
3      POINT (-121.76000 49.24000)
4      POINT (-121.76000 49.24000)
                  ...
385    POINT (-122.95000 50.13000)
386    POINT (-122.95000 50.07000)
387    POINT (-122.78000 49.02000)
388     POINT (-76.05000 46.07000)
389    POINT (-123.74000 61.24000)
Name: geometry, Length: 390, dtype: geometry

In [123]:

fire_shp['geometry_converted'] = fire_shp.geometry.to_crs("epsg:32633")

In [132]:
station_shp['geometry_converted']= station_shp.geometry.to_crs("epsg:32633")

In [133]:
station_shp

,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,geometry,geometry_converted
0,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (-121.22000 51.68000),POINT (-2430447.657 13310089.903)
1,ABEE AGDM,ALBERTA,54.28,-112.97,664.0,3010010,71285.0,XAF,1990,2024,1990.0,2024.0,2002.0,2024.0,2002.0,2007.0,POINT (-112.97000 54.28000),POINT (-2679608.086 12658932.738)
2,ADDENBROKE ISLAND,BRITISH COLUMBIA,51.60,-127.86,21.3,1060080,NaN,WCZ,1978,2024,1994.0,2001.0,1978.0,2024.0,1978.0,2007.0,POINT (-127.86000 51.60000),POINT (-2018889.344 13597433.413)
3,AGASSIZ CDA,BRITISH COLUMBIA,49.24,-121.76,15.0,1100120,NaN,NaN,1889,2023,NaN,NaN,1889.0,2023.0,1889.0,2007.0,POINT (-121.76000 49.24000),POINT (-2574417.744 13578818.002)
4,AGASSIZ RCS,BRITISH COLUMBIA,49.24,-121.76,19.3,1100119,71113.0,WZA,1988,2024,1994.0,2024.0,1988.0,2024.0,1988.0,2006.0,POINT (-121.76000 49.24000),POINT (-2574417.744 13578818.002)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,WHISTLER,BRITISH COLUMBIA,50.13,-122.95,657.8,1048898,NaN,WAE,1976,2024,1983.0,2014.0,1976.0,2024.0,1976.0,2007.0,POINT (-122.95000 50.13000),POINT (-2432965.635 13543654.962)
386,WHISTLER ROUNDHOUSE,BRITISH COLUMBIA,50.07,-122.95,1835.0,1108906,NaN,NaN,1972,2024,NaN,NaN,1972.0,2024.0,1973.0,2007.0,POINT (-122.95000 50.07000),POINT (-2437171.690 13549729.512)
387,WHITE ROCK CAMPBELL SCIENTIFIC,BRITISH COLUMBIA,49.02,-122.78,13.0,1108910,71785.0,WWK,1929,2024,1994.0,2024.0,1929.0,2024.0,1929.0,2007.0,POINT (-122.78000 49.02000),POINT (-2521986.153 13648775.644)
388,WRIGHT,QUEBEC,46.07,-76.05,141.7,7038975,NaN,NaN,1967,2024,NaN,NaN,1967.0,2024.0,1967.0,2018.0,POINT (-76.05000 46.07000),POINT (-4957232.154 10110528.904)
389,YOHIN,NORTHWEST TERRITORIES,61.24,-123.74,204.0,2204300,71020.0,XYH,1957,2024,1973.0,2024.0,1957.0,2024.0,1957.0,2007.0,POINT (-123.74000 61.24000),POINT (-1600716.340 12499054.077)

In [102]:
fire_shp_m.drop(columns=(['COMMENTS','COMMENT','VERSION']),inplace=True,axis=1)

In [103]:


for k,station in station_shp.iterrows():
    for i,fire in fire_shp.iterrows():
        distance= fire['geometry'].distance(station['geometry'])
        fire_shp['Station_ID']= station['Climate ID']
        fire_shp['Distance'] = distance

/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/shapely/measurement.py:72: RuntimeWarning: invalid value encountered in distance
  return lib.distance(a, b, **kwargs)

https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoSeries.representative_point.html#geopandas.GeoSeries.representative_point

In [128]:
fire_shp.drop(columns=(['COMMENTS','COMMENT','VERSION']),inplace=True,axis=1)

In [105]:
fire_shp_m.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,AFEDATE,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,geometry
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,NaN,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ..."
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,2005-09-01,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,"MULTIPOLYGON (((inf inf, inf inf, inf inf, inf..."
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,NaN,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,"MULTIPOLYGON (((inf inf, inf inf, inf inf, inf..."
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,NaN,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,"MULTIPOLYGON (((inf inf, inf inf, inf inf, inf..."
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,2005-08-24,NaN,1773.213431,1773.213431,0.0,YT,479.0,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ..."

In [130]:
station_shp

,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,geometry
0,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (-121.22000 51.68000)
1,ABEE AGDM,ALBERTA,54.28,-112.97,664.0,3010010,71285.0,XAF,1990,2024,1990.0,2024.0,2002.0,2024.0,2002.0,2007.0,POINT (-112.97000 54.28000)
2,ADDENBROKE ISLAND,BRITISH COLUMBIA,51.60,-127.86,21.3,1060080,NaN,WCZ,1978,2024,1994.0,2001.0,1978.0,2024.0,1978.0,2007.0,POINT (-127.86000 51.60000)
3,AGASSIZ CDA,BRITISH COLUMBIA,49.24,-121.76,15.0,1100120,NaN,NaN,1889,2023,NaN,NaN,1889.0,2023.0,1889.0,2007.0,POINT (-121.76000 49.24000)
4,AGASSIZ RCS,BRITISH COLUMBIA,49.24,-121.76,19.3,1100119,71113.0,WZA,1988,2024,1994.0,2024.0,1988.0,2024.0,1988.0,2006.0,POINT (-121.76000 49.24000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,WHISTLER,BRITISH COLUMBIA,50.13,-122.95,657.8,1048898,NaN,WAE,1976,2024,1983.0,2014.0,1976.0,2024.0,1976.0,2007.0,POINT (-122.95000 50.13000)
386,WHISTLER ROUNDHOUSE,BRITISH COLUMBIA,50.07,-122.95,1835.0,1108906,NaN,NaN,1972,2024,NaN,NaN,1972.0,2024.0,1973.0,2007.0,POINT (-122.95000 50.07000)
387,WHITE ROCK CAMPBELL SCIENTIFIC,BRITISH COLUMBIA,49.02,-122.78,13.0,1108910,71785.0,WWK,1929,2024,1994.0,2024.0,1929.0,2024.0,1929.0,2007.0,POINT (-122.78000 49.02000)
388,WRIGHT,QUEBEC,46.07,-76.05,141.7,7038975,NaN,NaN,1967,2024,NaN,NaN,1967.0,2024.0,1967.0,2018.0,POINT (-76.05000 46.07000)
389,YOHIN,NORTHWEST TERRITORIES,61.24,-123.74,204.0,2204300,71020.0,XYH,1957,2024,1973.0,2024.0,1957.0,2024.0,1957.0,2007.0,POINT (-123.74000 61.24000)

In [91]:
fire_shp.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,...,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry,COMMENT
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,...,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,2005_r9_20210810,Possibly some burn over insect,"POLYGON ((-1004225.00000 1289982.37500, -10042...",NaN
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,...,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,2005_r9_20210810,"Slight clip at north edge, no hotspots there","MULTIPOLYGON (((1516482.25000 854136.56250, 15...",NaN
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,...,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,2005_r9_20210810,Minor burn-over-burn,"MULTIPOLYGON (((-15567.15620 802909.00000, -15...",NaN
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,...,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,2005_r9_20210810,Null,"MULTIPOLYGON (((1608753.12500 580239.87500, 16...",NaN
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,...,NaN,1773.213431,1773.213431,0.0,YT,479.0,2005_r9_20210810,"2005MA011[comments:,subdistric:MA,fire_numbe:1...","POLYGON ((-1696660.54260 2354008.59380, -16966...",NaN

In [79]:
fire_shp.to_csv('fire_station_shp.csv')

In [77]:
print(fire_shp.crs)

epsg:4326

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,...,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry,COMMENT,Station_ID,Distance
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,...,1614.562564,0.0,PC-WB,27.0,2005_r9_20210810,Possibly some burn over insect,"POLYGON ((-1004225.00000 1289982.37500, -10042...",NaN,2204300,1.205799e+06
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,...,9833.107956,0.0,QC,20.0,2005_r9_20210810,"Slight clip at north edge, no hotspots there","MULTIPOLYGON (((1516482.25000 854136.56250, 15...",NaN,2204300,1.205799e+06
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,...,8143.088056,0.0,MB,21.0,2005_r9_20210810,Minor burn-over-burn,"MULTIPOLYGON (((-15567.15620 802909.00000, -15...",NaN,2204300,1.205799e+06
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,...,4010.938626,0.0,QC,32.0,2005_r9_20210810,Null,"MULTIPOLYGON (((1608753.12500 580239.87500, 16...",NaN,2204300,1.205799e+06
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,...,1773.213431,0.0,YT,479.0,2005_r9_20210810,"2005MA011[comments:,subdistric:MA,fire_numbe:1...","POLYGON ((-1696660.54260 2354008.59380, -16966...",NaN,2204300,1.205799e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35660,1990.0,348.0,4.0,9.0,8.0,Undefined,4.0,NaN,NaN,NaN,...,2.611808,0.0,AB,629.0,1990_r9_20210810,NaN,"POLYGON ((-1149901.25300 1273059.40790, -11498...",NaN,2204300,1.205799e+06
35661,1990.0,345.0,4.0,9.0,8.0,Undefined,4.0,NaN,NaN,NaN,...,51.160665,0.0,AB,460.0,1990_r9_20210810,NaN,"MULTIPOLYGON (((-1219747.91950 1308634.21410, ...",NaN,2204300,1.205799e+06
35662,1990.0,361.0,4.0,9.0,8.0,Undefined,4.0,NaN,NaN,NaN,...,24.589611,0.0,AB,655.0,1990_r9_20210810,NaN,"MULTIPOLYGON (((-1206445.65940 1333301.96350, ...",NaN,2204300,1.205799e+06
35663,1990.0,347.0,4.0,9.0,8.0,Undefined,4.0,NaN,NaN,NaN,...,12.429931,0.0,AB,805.0,1990_r9_20210810,NaN,"MULTIPOLYGON (((-1184587.26950 1349259.69820, ...",NaN,2204300,1.205799e+06
35664,1990.0,415.0,4.0,9.0,8.0,Undefined,4.0,NaN,NaN,NaN,...,131.654930,0.0,MB,519.0,1990_r9_20210810,NaN,"MULTIPOLYGON (((-276173.73900 1174485.51310, -...",NaN,2204300,1.205799e+06

In [137]:
fire_shp.drop(columns=['geometry_converted'],inplace=True)

In [139]:
fire_shp['point']=fire_shp['geometry'].representative_point()

In [142]:
fire_shp['point'].crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [144]:
station_shp.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [145]:
station_shp.head()

,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,geometry,geometry_converted
0,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (-121.22000 51.68000),POINT (-2430447.657 13310089.903)
1,ABEE AGDM,ALBERTA,54.28,-112.97,664.0,3010010,71285.0,XAF,1990,2024,1990.0,2024.0,2002.0,2024.0,2002.0,2007.0,POINT (-112.97000 54.28000),POINT (-2679608.086 12658932.738)
2,ADDENBROKE ISLAND,BRITISH COLUMBIA,51.60,-127.86,21.3,1060080,NaN,WCZ,1978,2024,1994.0,2001.0,1978.0,2024.0,1978.0,2007.0,POINT (-127.86000 51.60000),POINT (-2018889.344 13597433.413)
3,AGASSIZ CDA,BRITISH COLUMBIA,49.24,-121.76,15.0,1100120,NaN,NaN,1889,2023,NaN,NaN,1889.0,2023.0,1889.0,2007.0,POINT (-121.76000 49.24000),POINT (-2574417.744 13578818.002)
4,AGASSIZ RCS,BRITISH COLUMBIA,49.24,-121.76,19.3,1100119,71113.0,WZA,1988,2024,1994.0,2024.0,1988.0,2024.0,1988.0,2006.0,POINT (-121.76000 49.24000),POINT (-2574417.744 13578818.002)

In [147]:
for station in gpd.GeoSeries(station_shp['geometry_converted'],index=range(len(station_shp))):
    for fire in gpd.GeoSeries(fire_shp['point'],index=range(len(fire_shp))):
        fire_shp[fire_shp['point']==fire]['Station_ID']= station_shp[station_shp['geometry_converted']==station]['Climate ID']
        fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])

/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'frechet_distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: The indices of the two GeoSeries are different.
  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'frechet_distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: The indices of the two GeoSeries are different.
  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'frechet_distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: The indices of the two GeoSeries are different.
  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'frechet_distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: The indices of the two GeoSeries are different.
  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'frechet_distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: The indices of the two GeoSeries are different.
  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'frechet_distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633

  fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/geopandas/geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

KeyboardInterrupt:

Got warning below:

fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].frechet_distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])
/var/folders/g4/w2hwfpc1681072qk9l2n84600000gn/T/ipykernel_10820/1353062035.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: EPSG:32633


I will be updating the CRS for the `station_shp` dataframe to `EPSG:4326`

In [149]:
station_shp.to_crs('EPSG:4326',inplace=True)

In [151]:
station_shp.head()

,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year,geometry,geometry_converted
0,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (-121.22000 51.68000),POINT (-2430447.657 13310089.903)
1,ABEE AGDM,ALBERTA,54.28,-112.97,664.0,3010010,71285.0,XAF,1990,2024,1990.0,2024.0,2002.0,2024.0,2002.0,2007.0,POINT (-112.97000 54.28000),POINT (-2679608.086 12658932.738)
2,ADDENBROKE ISLAND,BRITISH COLUMBIA,51.60,-127.86,21.3,1060080,NaN,WCZ,1978,2024,1994.0,2001.0,1978.0,2024.0,1978.0,2007.0,POINT (-127.86000 51.60000),POINT (-2018889.344 13597433.413)
3,AGASSIZ CDA,BRITISH COLUMBIA,49.24,-121.76,15.0,1100120,NaN,NaN,1889,2023,NaN,NaN,1889.0,2023.0,1889.0,2007.0,POINT (-121.76000 49.24000),POINT (-2574417.744 13578818.002)
4,AGASSIZ RCS,BRITISH COLUMBIA,49.24,-121.76,19.3,1100119,71113.0,WZA,1988,2024,1994.0,2024.0,1988.0,2024.0,1988.0,2006.0,POINT (-121.76000 49.24000),POINT (-2574417.744 13578818.002)

In [ ]:
for station in gpd.GeoSeries(station_shp['geometry_converted'],index=range(len(station_shp))):
    for fire in gpd.GeoSeries(fire_shp['point'],index=range(len(fire_shp))):
        fire_shp[fire_shp['point']==fire]['Station_ID']= station_shp[station_shp['geometry_converted']==station]['Climate ID']
        fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])

In [169]:
for station in gpd.GeoSeries(station_shp['geometry_converted'],index=range(len(station_shp))):
    for fire in gpd.GeoSeries(fire_shp['point'],index=range(len(fire_shp))):
        fire_shp[fire_shp['point']==fire]['Station_ID']= station_shp[station_shp['geometry_converted']==station]['Climate ID']
        fire_shp[fire_shp['point']==fire]['Distance']= fire_shp[fire_shp['point']==fire]['point'].distance(station_shp[station_shp['geometry_converted']==station]['geometry_converted'])

KeyboardInterrupt:

In [150]:
fire_shp.head()

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,AFEDATE,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,geometry,point
0,2005.0,106.0,1.0,9.0,7.0,Lightning,4.0,2005-06-08,2005-07-06,2005-06-09,NaN,2005-07-15,1614.562564,1614.562564,0.0,PC-WB,27.0,"POLYGON ((-1004225.00000 1289982.37500, -10042...",POINT (-1005207.20133 1288750.12500)
1,2005.0,208.0,1.0,9.0,7.0,Lightning,4.0,2005-06-01,2005-08-10,2005-07-13,2005-09-01,2005-07-20,9833.107956,9833.107956,0.0,QC,20.0,"MULTIPOLYGON (((1516482.25000 854136.56250, 15...",POINT (1518283.92296 854278.50000)
2,2005.0,236.0,1.0,9.0,7.0,Lightning,4.0,2005-07-05,2005-07-13,2005-07-02,NaN,2005-08-21,8143.088056,8143.088056,0.0,MB,21.0,"MULTIPOLYGON (((-15567.15620 802909.00000, -15...",POINT (-27252.51411 801860.84375)
3,2005.0,340.0,1.0,9.0,7.0,Undefined,4.0,2005-06-01,2005-06-06,NaN,NaN,2007-08-27,4010.938626,4010.938626,0.0,QC,32.0,"MULTIPOLYGON (((1608753.12500 580239.87500, 16...",POINT (1606305.94861 575901.93750)
4,2005.0,9.0,3.0,9.0,2.0,Lightning,4.0,2005-07-16,2005-07-27,2005-07-16,2005-08-24,NaN,1773.213431,1773.213431,0.0,YT,479.0,"POLYGON ((-1696660.54260 2354008.59380, -16966...",POINT (-1700898.94829 2350905.76035)