In [2]:
import geopandas as gpd
import pandas as pd
import os

In [3]:
geo_data = gpd.read_file('Data/nbac_2006_r9_20210810.shx')
geo_data = geo_data.set_crs(epsg=3979,allow_override=True)
geo_data = geo_data.to_crs(epsg=4326)

geo_data_df = pd.DataFrame(geo_data)

In [3]:
display(geo_data.head())

,YEAR,NFIREID,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,AFEDATE,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry
0,2006.0,400.0,1.0,9.0,7.0,2.0,4.0,2006-06-30,2006-07-05,2006-06-30,2006-07-14,2006-09-19,3369.140836,3369.140836,0.0,SK,1.0,2006_r9_20210810,Null,"MULTIPOLYGON (((-103.34036 55.88523, -103.3408..."
1,2006.0,690.0,1.0,9.0,7.0,2.0,4.0,2006-09-12,2006-09-15,2006-09-08,2006-11-02,2007-08-08,1340.612771,1340.612771,0.0,ON,11.0,2006_r9_20210810,Null,"MULTIPOLYGON (((-90.24006 49.43092, -90.24004 ..."
2,2006.0,520.0,1.0,9.0,7.0,2.0,4.0,2006-06-08,2006-06-16,2006-06-07,2006-07-14,2006-09-07,14130.117358,14130.117358,0.0,QC,10.0,2006_r9_20210810,Null,"MULTIPOLYGON (((-74.81377 51.83774, -74.81377 ..."
3,2006.0,432.0,1.0,9.0,7.0,2.0,4.0,2006-06-29,2006-07-05,2006-06-28,2006-08-05,2007-06-16,12997.158776,12997.158776,0.0,SK,6.0,2006_r9_20210810,RSkakun: No visual evidence of salvaging; I lo...,"MULTIPOLYGON (((-107.23899 55.01723, -107.2389..."
4,2006.0,731.0,1.0,9.0,7.0,2.0,4.0,2006-06-30,2006-06-30,2006-06-30,2006-07-22,2006-09-19,813.400190,813.400190,0.0,SK,3.0,2006_r9_20210810,Null,"MULTIPOLYGON (((-104.66236 55.64769, -104.6623..."

In [4]:
geo_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      1598 non-null   float64
 1   NFIREID   1598 non-null   float64
 2   BASRC     1598 non-null   float64
 3   FIREMAPS  1598 non-null   float64
 4   FIREMAPM  1598 non-null   float64
 5   FIRECAUS  1598 non-null   float64
 6   BURNCLAS  1598 non-null   float64
 7   SDATE     469 non-null    object
 8   EDATE     469 non-null    object
 9   AFSDATE   1394 non-null   object
 10  AFEDATE   530 non-null    object
 11  CAPDATE   432 non-null    object
 12  POLY_HA   1598 non-null   float64
 13  ADJ_HA    1598 non-null   float64
 14  ADJ_FLAG  1598 non-null   float64
 15  AGENCY    1598 non-null   object
 16  BT_GID    1598 non-null   float64
 17  VERSION   1598 non-null   object
 18  COMMENTS  1302 non-null   object
 19  geometry  1598 non-null   geometry
dtypes: float64(11), geometry(1), object(8)
memory usage: 249.8+ KB

In [5]:
test= pd.DataFrame(geo_data)

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      1598 non-null   float64
 1   NFIREID   1598 non-null   float64
 2   BASRC     1598 non-null   float64
 3   FIREMAPS  1598 non-null   float64
 4   FIREMAPM  1598 non-null   float64
 5   FIRECAUS  1598 non-null   float64
 6   BURNCLAS  1598 non-null   float64
 7   SDATE     469 non-null    object
 8   EDATE     469 non-null    object
 9   AFSDATE   1394 non-null   object
 10  AFEDATE   530 non-null    object
 11  CAPDATE   432 non-null    object
 12  POLY_HA   1598 non-null   float64
 13  ADJ_HA    1598 non-null   float64
 14  ADJ_FLAG  1598 non-null   float64
 15  AGENCY    1598 non-null   object
 16  BT_GID    1598 non-null   float64
 17  VERSION   1598 non-null   object
 18  COMMENTS  1302 non-null   object
 19  geometry  1598 non-null   geometry
dtypes: float64(11), geometry(1), object(8)
memory usage: 249.8+ KB

In [7]:
test.shape

(1598, 20)

In [8]:
#gpd.GeoSeries.get_coordinates(geo_data['geometry'])

In [6]:

extn= '.shx'
x=0

In [10]:
#figuring out my data:

for files in os.listdir('Data'):
    if files.endswith(extn):
        table=gpd.read_file(f'Data/{files}')
        print(f"{files}:{table.shape}")
    
    else:
        continue

nbac_2005_r9_20210810.shx:(1128, 20)
nbac_2013_r9_20210810.shx:(1637, 20)
nbac_1993_r9_20210810.shx:(365, 20)
nbac_1994_r9_20210810.shx:(701, 20)
nbac_2014_r9_20210810.shx:(1410, 20)
nbac_2002_r9_20210810.shx:(848, 20)

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x10b2e1610>>
Traceback (most recent call last):
  File "/opt/anaconda3/envs/capstone_env/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 770, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(

KeyboardInterrupt:

nbac_1995_r9_20210810.shx:(785, 20)
nbac_2015_r9_20210810.shx:(2173, 20)
nbac_2003_r9_20210810.shx:(1154, 20)

Above I wanted to check to make sure that all my data had the same number of columns. It's safe to assume that since I got the data from the same source, the column names would also all be the same. I will attempt to create a `for` loop to combine all of these rows into one DataFrame.

In [4]:
weather_list=[]
weather_df=pd.DataFrame()

In [7]:
for files in os.listdir('Data'):
    if files.endswith(extn):
        table=gpd.read_file(f'Data/{files}').to_crs(epsg=3979)
        weather_df=pd.concat([weather_df,table])
    else:
        continue

In [10]:
weather_df.shape

(35158, 21)